<h1>Spinny, the Spinning Game</h1>
<h2>Lets Go <%=  @user.name %></h2>

<% (1..10).each do |i| %>
  <div class='row'>
    <% (1..10).each do |j| %>
      <div class='span1'>
        <%=  i %> <%= j %>
      </div>
    <% end %>
  </div>
<% end %>